.yack-carousel{
	display:block;
}
.yack-carousel *{
	box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.yack-carousel .yack-window,
.yack-carousel .yack-wrapper{
	overflow:hidden;
}
/* .yack-carousel .yack-window { */
/* 	position: relative; */
/* 	-webkit-background-size: cover; */
/*     -moz-background-size: cover; */
/*     -o-background-size: cover; */
/*     background-size: cover;  */
/* } */
/* .yack-carousel .yack-window:before{ */
/* 	position: absolute; */
/*     top: 0; */
/*     left: 0; */
/*     width: 100%; */
/*     height: 100%; */
/*     content: ""; */
/*     z-index:1; */
/* } */
/* .yack-carousel .yack-window.yack-page-first:before{ */
/*     -moz-box-shadow:    inset -20px 0 10px -10px hsla(0,0%,0%,.3); */
/*     -webkit-box-shadow: inset -20px 0 10px -10px hsla(0,0%,0%,.3); */
/*     box-shadow:         inset -20px 0 10px -10px hsla(0,0%,0%,.3); */
/* } */
/* .yack-carousel .yack-window.yack-page-middle:before{ */
/*     -moz-box-shadow:    inset 20px 0 10px -10px hsla(0,0%,0%,.3), */
/*                         inset -20px 0 10px -10px hsla(0,0%,0%,.3); */
/*     -webkit-box-shadow: inset 20px 0 10px -10px hsla(0,0%,0%,.3), */
/*                         inset -20px 0 10px -10px hsla(0,0%,0%,.3); */
/*     box-shadow:         inset 20px 0 10px -10px hsla(0,0%,0%,.3), */
/*                         inset -20px 0 10px -10px hsla(0,0%,0%,.3); */
/* } */
/* .yack-carousel .yack-window.yack-page-last:before{ */
/*     -moz-box-shadow:    inset 20px 0 10px -10px hsla(0,0%,0%,.3); */
/*     -webkit-box-shadow: inset 20px 0 10px -10px hsla(0,0%,0%,.3); */
/*     box-shadow:         inset 20px 0 10px -10px hsla(0,0%,0%,.3); */
/* } */
.yack-carousel .yack-item-wrapper {
	float:left;
}
.yack-carousel .yack-pagination{
	display:block;
	width:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	overflow:hidden;
}
.yack-carousel .yack-pagination > .yack-pagination-page {
	display:inline-block;
	float:left;
	width:20px;
	height:20px;
	margin-right:25px;
	background-color: #dedede;
	border-radius:50%;
	border:0px solid;
	cursor:pointer;
}
.yack-carousel .yack-pagination > .yack-pagination-page:last-child{
	margin-right:0;
}
.yack-carousel .yack-pagination > .yack-pagination-page.active{
	background-color:#436F9F;
}
.yack-carousel .yack-pagination > .yack-pagination-page:hover{
	background-color: #121212;
}