.yack-carousel *{
	box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.yack-carousel .yack-window,
.yack-carousel .yack-wrapper{
	overflow:hidden;
}
.yack-carousel .yack-item-wrapper {
	float:left;
}